$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', sans-serif;

$main-color: #ffffff;
$accent-light-color: #ffa5ba;
$accent-color: #d41443;
$dark-color: #000000;
$additional-color: #907e82;
$elipse-color-one: #d9d9d9;
$elipse-color-two: #c7133e;

$mobile-bgc: #e17992;
$main-bgc: #ffb8ca;
$main-bgc-light: #fff5f6;
$shake-bgc: #c2e297;
$coffe-bgc: #f0d1a5;
$slider-bgc: #fafafa;
$footer-bgc: #fff5f6;

$hover-btn-color: #ECEBEB;
