.section-product__list {
  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 30px;
  }
}
.section-product__item {
  position: relative;
  padding: 160px 0 40px;
  border-radius: 24px;
  margin-bottom: 140px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    flex: 1 0 calc((100% - 32px) / 3);
    padding: 118px 0 40px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    flex: 1 0 calc((100% - 60px) / 3);
    padding: 165px 0 60px;
  }
}

.section-product__dots {
  position: relative;
  bottom: 32px;
  &-first::before,
  &-second::before,
  &-third::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $main-color;
    top: 0px;
    left: calc(50% - 10px);
  }
  &-second::before {
    left: 50%;
  }
  &-third::before {
    left: calc(50% + 10px);
  }
}

// #F88CA5
//  #E8C086
//   #ACD17B
