<section class="timetable" id="timetable">
  <div class="container">
    <div class="timetable-box">
      <h2 class="contacts__title visually-hidden">Contacts</h2>
      <ul class="timetable-list">
        <li class="timetable-list__element">
          <p class="timetable-list__header">cafe</p>
          <p class="timetable-list__city">Chicago</p>
          <p class="timetable-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="timetable-week">
            <li class="timetable-week__element">
              <p class="timetable-week__day">Monday &mdash; Friday</p>
              <p class="timetable-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="timetable-week__element">
              <p class="timetable-week__day-of">Saturday &mdash; Sunday</p>
              <p class="timetable-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="timetable-contact">
            <li class="timetable-contact__element">
              <a class="timetable-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="timetable-contact__element">
              <a
                class="timetable-contact__link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="timetable-list__element">
          <p class="timetable-list__header timetable-list__header--color">
            food truck
          </p>
          <p class="timetable-list__city">Los Angeles</p>
          <p class="timetable-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="timetable-week">
            <li class="timetable-week__element">
              <p class="timetable-week__day">Monday &mdash; Friday</p>
              <p class="timetable-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="timetable-week__element">
              <p class="timetable-week__day-of">Saturday &mdash; Sunday</p>
              <p class="timetable-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="timetable-contact">
            <li class="timetable-contact__element">
              <a class="timetable-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="timetable-contact__element">
              <a
                class="timetable-contact__link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="timetable-list__element">
          <p class="timetable-list__header">cafe</p>
          <p class="timetable-list__city">New York</p>
          <p class="timetable-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="timetable-week">
            <li class="timetable-week__element">
              <p class="timetable-week__day">Monday &mdash; Friday</p>
              <p class="timetable-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="timetable-week__element">
              <p class="timetable-week__day-of">Saturday &mdash; Sunday</p>
              <p class="timetable-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="timetable-contact">
            <li class="timetable-contact__element">
              <a class="timetable-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="timetable-contact__element">
              <a
                class="timetable-contact__link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <ul class="timetable-list-button">
        <li class="timetable-list-button__element">
          <button
            class="button timetable__button"
            type="button"
            data-modal-open
          >
            Our Locations
            <svg width="8" height="12">
              <use href="./images/icons.svg#icon-arrow-short-white"></use>
            </svg>
          </button>
        </li>
        <li class="timetable-list-button__element">
          <button
            class="button timetable__button timetable__button--color"
            type="button"
          >
            Franchise
            <svg width="8" height="12">
              <use href="./images/icons.svg#icon-arrow-short-red"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="backdrop-timetable is-hidden" data-modal>
  <div class="modal-timetable">
    <p class="modal-title">
      2 Rivington St, New York, NY 10002, United States of America
    </p>

    <button class="button-modal" data-modal-close>
      <svg class="button-modal-icon" width="11" height="11">
        <use href="./images/icons.svg#icon-Vector-1"></use>
      </svg>
    </button>
    <section class="map">
      <div class="container-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6047.161061632734!2d-74.00862253022463!3d40.72724979999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259549cf1617d%3A0x85dedf8de6c323a7!2sMorgenstern%E2%80%99s%20Finest%20Ice%20Cream!5e0!3m2!1sru!2sde!4v1654976663900!5m2!1sru!2sde"
          width="250"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
  </div>
</div>
<!-- <script src="./js/modal-location.js"></script> -->
