<h2 class="visibility-hidden">Customer Reviews</h2>
<div class="container">
  <div class="reviews">
    <picture class="reviews-foto">
      <source
        class="reviews-foto"
        srcset="
          ../src/images/mobile/customer_reviews/client1-1x.png 1x,
          ../src/images/mobile/customer_reviews/client1-2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="reviews-foto"
        src="./images/mobile/customer_reviews/client1-1x.png"
        alt="happy client"
      />
    </picture>
  </div>
  <div class="reviews-area">
    <div class="reviews-lines"></div>
    <p class="reviews-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
  </div>
  <div class="review--padding">
    <div class="reviews-point">
      <p class="review-name">Emily, Los Angeles</p>
      <div class="reviews-point__one"></div>
      <div class="reviews-point__two"></div>
      <div class="reviews-point__three"></div>
    </div>
  </div>
</div>
