<h2 class="visibility-hidden">Customer Reviews</h2>
<div class="container">
  <!-- <Slideshow container -->
  <div class="review-slideshow-container">
    <!-- Full-width slides/quotes -->
    <div class="reviews-slides">
      <div class="reviews">
        <picture>
          <source
            class="reviews__foto"
            srcset="
              ../src/images/mobile/customer_reviews/client1-1x.png 1x,
              ../src/images/mobile/customer_reviews/client1-2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="reviews__foto"
            src="./images/mobile/customer_reviews/client1-1x.png"
            alt="happy client"
          />
        </picture>
      </div>
      <div class="reviews-area">
        <div class="reviews-area__lines"></div>
        <p class="reviews-area__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="reviews-name">
        <div class="reviews-name__point">
          <div class="reviews-name__point-one"></div>
          <div class="reviews-name__point-two"></div>
          <div class="reviews-name__point-three"></div>
          <p class="reviews-name__name">Emily, Los Angeles</p>
        </div>
      </div>
    </div>

    <div class="reviews-slides">
      <div class="reviews">
        <picture>
          <source
            class="reviews__foto"
            srcset="
              ../src/images/mobile/customer_reviews/fotocl-1x.png 1x,
              ../src/images/mobile/customer_reviews/fotocl-2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="reviews__foto"
            src="./images/mobile/customer_reviews/fotocl-1x.png"
            alt="happy client"
          />
        </picture>
      </div>
      <div class="reviews-area">
        <div class="reviews-area__lines"></div>
        <p class="reviews-area__text">
          Lorem ipsum primis in nibh vel risus.Nullam viverra consectetuer.
          Quisque cursus et, porttitor risus. Russkij voennuj korabl idi nahuj.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
        </p>
      </div>
      <div class="reviews-name">
        <div class="reviews-name__point">
          <div class="reviews-name__point-one"></div>
          <div class="reviews-name__point-two"></div>
          <div class="reviews-name__point-three"></div>
          <p class="reviews-name__name">Julia, New York</p>
        </div>
      </div>
    </div>

    <div class="reviews-slides">
      <div class="reviews">
        <picture>
          <source
            class="reviews__foto"
            srcset="
              ../src/images/mobile/customer_reviews/fotocli-1x.png 1x,
              ../src/images/mobile/customer_reviews/fotocli-2x.png 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="reviews__foto"
            src="./images/mobile/customer_reviews/fotocli-1x.png"
            alt="happy client"
          />
        </picture>
      </div>
      <div class="reviews-area">
        <div class="reviews-area__lines"></div>
        <p class="reviews-area__text">
          Quisque cursus et, porttitor risus. Aliquam semNullam viverra
          consectetuer. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="reviews-name">
        <div class="reviews-name__point">
          <div class="reviews-name__point-one"></div>
          <div class="reviews-name__point-two"></div>
          <div class="reviews-name__point-three"></div>
          <p class="reviews-name__name">Amanda, Chicago</p>
        </div>
      </div>
    </div>

    <!-- Dots/bullets/indicators -->
    <div class="reviews-dot-container">
      <span class="reviews-dot" onclick="currentSlide(1)"></span>
      <span class="reviews-dot" onclick="currentSlide(2)"></span>
      <span class="reviews-dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
</div>
<script src="./js/reviews-slider.js"></script>
