<section class="container">
  <h2 visualy hidden>Gallery</h2>
  <div class="gallery-list">
    <div class="gallery-block">
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-1.png    1x,
              ./images/gallery/gallery-1-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-1.png    1x,
              ./images/gallery/gallery-1-2x.png 2x
            "
            media="(max-width: 786px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-1.png    1x,
              ./images/gallery/gallery-1-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-1.png"
            alt="green ice cream"
            width="180"
            height="180"
          />
        </picture>
      </div>
    </div>
    <div class="gallery-block">
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-2.png    1x,
              ./images/gallery/gallery-2-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-2.png    1x,
              ./images/gallery/gallery-2-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-2.png    1x,
              ./images/gallery/gallery-2-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-2.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-3.png    1x,
              ./images/gallery/gallery-3-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-3.png    1x,
              ./images/gallery/gallery-3-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-3.png    1x,
              ./images/gallery/gallery-3-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img src=./images/gallery/gallery-3.png alt="" width="180"
          height="180" />
        </picture>
      </div>
    </div>
    <div class="gallery-block">
      <div class="picture">
        <picture class="bigger-photo">
          <source
            srcset="
              ./images/gallery/gallery-4.png    1x,
              ./images/gallery/gallery-4-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-4.png    1x,
              ./images/gallery/gallery-4-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-4.png    1x,
              ./images/gallery/gallery-4-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img src="./images/gallery/gallery-4.png" alt="" width="320"
          height="320s />
        </picture>
      </div>
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-5.png    1x,
              ./images/gallery/gallery-5-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-5.png    1x,
              ./images/gallery/gallery-5-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-5.png    1x,
              ./images/gallery/gallery-5-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-5.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
    </div>
    <div class="gallery-block">
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-6.png    1x,
              ./images/gallery/gallery-6-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-6.png    1x,
              ./images/gallery/gallery-6-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-6.png    1x,
              ./images/gallery/gallery-6-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-6.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-7.png    1x,
              ./images/gallery/gallery-7-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-7.png    1x,
              ./images/gallery/gallery-7-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-7.png    1x,
              ./images/gallery/gallery-7-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-7.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
    </div>
    <div class="gallery-block">
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-8.png    1x,
              ./images/gallery/gallery-8-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-8.png    1x,
              ./images/gallery/gallery-8-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-8.png    1x,
              ./images/gallery/gallery-8-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-8.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
      <div class="picture">
        <picture class="photo">
          <source
            srcset="
              ./images/gallery/gallery-9.png    1x,
              ./images/gallery/gallery-9-2x.png 2x
            "
            media="(min-width: 1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-9.png    1x,
              ./images/gallery/gallery-9-2x.png 2x
            "
            media="(max-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/gallery/gallery-9.png    1x,
              ./images/gallery/gallery-9-2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img
            src="./images/gallery/gallery-9.png"
            alt=""
            width="180"
            height="180"
          />
        </picture>
      </div>
    </div>
    <div class="picture">
      <picture class="photo">
        <source
          srcset="
            ./images/gallery/gallery-10.png    1x,
            ./images/gallery/gallery-10-2x.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/gallery-10.png    1x,
            ./images/gallery/gallery-10-2x.png 2x
          "
          media="(max-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/gallery/gallery-10.png    1x,
            ./images/gallery/gallery-10-2x.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img src=./images/gallery/gallery-10.png alt="" width="180" height="180"
        />
      </picture>
    </div>
  </div>
</section>
