  <div class="first-page">
    <div class="first-page__img-container container">
      <div class="first-page__circle"></div>
      <picture class="first-page__icecream">
        <source
          srcset="
            ./images/desktop/icecream-min.png    1x,
            ./images/desktop/icecream-2x-min.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/tablet/icecream-tablet-min.png    1x,
            ./images/tablet/icecream-tablet-2x-min.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/mobile/icecream-mob-min.png    1x,
            ./images/mobile/icecream-mob-2x-min.png 2x
          "
          media="(min-width:320px)"
        />
        <img src="./images/desktop/icecream-min.png" alt="icecream" />
      </picture>
    </div>

    <!-- HEADER -->
    <header class="header">
    <div class="header__container">
      <a href="index.html" class="logo">
        <picture class="logo__pict">
          <source
            srcset="./images/logo-min.png 1x, ./images/logo-2x-min.png 2x"
          />
          <img src="./images/logo-min.png" alt="logo" />
        </picture>
      </a>
      <button class="js-open-menu" aria-expanded="false">
        <svg class="js-open-menu__icon">
          <use href="./images/icons.svg#icon-Burger"></use>
        </svg>
      </button>
      <div class="js-menu-container">
        <button class="js-close-menu">
          <svg class="js-close-menu__icon">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <button class="mob-btn" data-modal-mob-open>
          Buy now
          <svg class="mob-btn__icon">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <ul class="mob-menu">
          <li class="mob-menu__item">
            <a href="index.html" class="mob-menu__link">Home</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about" class="mob-menu__link">About us</a>
          </li>
          <li class="mob-menu__item">
            <a href="#about" class="mob-menu__link">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a href="#products" class="mob-menu__link">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a href="#contacts" class="mob-menu__link">Contact</a>
          </li>
        </ul>
      </div>
      <ul class="header-menu">
        <li class="header-menu__item">
          <a href="" class="header-menu__link">Home</a>
        </li>
        <li class="header-menu__item">
          <a href="#about" class="header-menu__link">About us</a>
        </li>
        <li class="header-menu__item">
          <a href="#about" class="header-menu__link">How it’s made?</a>
        </li>
        <li class="header-menu__item">
          <a href="#products" class="header-menu__link">Our products</a>
        </li>
        <li class="header-menu__item">
          <a href="#contacts" class="header-menu__link">Contact</a>
        </li>
      </ul>
      <button class="header__btn" data-modal-open>
        Buy now
        <svg class="header__btn-icon">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <!-- HERO -->

    <section class="hero">
      <div class="hero__container">
        <h1 class="hero__top-text">
          ice cream <br />
          made with <br />
          <span class="hero__top-text hero__top-text--accent">passion</span>
        </h1>
        <ul class="hero-nav-menu">
          <li class="hero-nav-menu__item"><a href="#products" class="hero-nav-menu__link hero-nav-menu__link--dark">Products</a></li>
          <li class="hero-nav-menu__item"><a href="#about" class="hero-nav-menu__link hero-nav-menu__link--light">How it’s made?</a></li>
        </ul>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <ul class="hero-number">
          <li class="hero-number__item">
            <p class="hero-number__figure">16</p>
            <p class="hero-number__position">cafes</p>
          </li>
          <li class="hero-number__item">
            <p class="hero-number__figure">23</p>
            <p class="hero-number__position">food trucks</p>
          </li>
        </ul>
        <a href="" class="hero__link-img">
          <picture class="hero__arrow-right">
            <source
              srcset="
                ./images/desktop/arrow-min.png    1x,
                ./images/desktop/arrow-2x-min.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet/arrow-right-tablet-min.png    1x,
                ./images/tablet/arrow-right-tablet-2x-min.png 2x
              "
              media="(min-width: 768px)"
            />
            <img src="./images/desktop/arrow-right-min.png" alt="icecream" />
          </picture>
        </a>
        <picture class="hero__milk">
          <source
            srcset="
              ./images/desktop/milk-min.png    1x,
              ./images/desktop/milk-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/milk-tablet-min.png    1x,
              ./images/tablet/milk-tablet-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/desktop/milk-min.png" alt="icecream" />
        </picture>
        <picture class="hero__tasty">
          <source
            srcset="
              ./images/desktop/tasty-min.png    1x,
              ./images/desktop/tasty-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/tablet/tasty-tablet-min.png    1x,
              ./images/tablet/tasty-tablet-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/desktop/tasty-min.png" alt="icecream" />
        </picture>
      </div>
    </section>
  </div>

  <!-- Modal -->

  <div class="backdrop is-hidden" data-modal>
    <div class="buy-modal">
      <button class="buy-modal__close-btn" data-modal-close>
        <svg class="buy-modal__close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <form class="buy-form">
        <ul class="buy-form-list">
          <li class="buy-form-list__item">
            <label class="buy-form-list__label"
              >Name<input type="text" class="buy-form-list__input"
            /></label>
          </li>
          <li class="buy-form-list__item">
            <label class="buy-form-list__label"
              >E-mail<input type="email" class="buy-form-list__input"
            /></label>
          </li>
        </ul>
        <ul class="buy-modal-list">
          <li class="buy-modal-list__item">
            <label for="taste" class="buy-modal-list__head">IceCream</label>
            <select id="taste" name="taste" class="buy-modal-list__details">
              <option value="S" class="buy-modal-list__option">Strawberry</option>
              <option value="C" class="buy-modal-list__option">Chokolate</option>
              <option value="V" class="buy-modal-list__option">Vanile</option>
              <option value="L" class="buy-modal-list__option">Lemon</option>
              <option value="O" class="buy-modal-list__option">Orange</option>
              <option value="-" selected class="buy-modal-list__option">none</option>
            </select>
          </li>
          <li class="buy-modal-list__item">
            <label for="type" class="buy-modal-list__head">Coffe</label>
            <select id="type" name="type" class="buy-modal-list__details">
              <option value="l" class="buy-modal-list__option">Latte</option>
              <option value="a" class="buy-modal-list__option">Americano</option>
              <option value="e" class="buy-modal-list__option">Espresso</option>
              <option value="m" class="buy-modal-list__option">Matcha</option>
              <option value="c" class="buy-modal-list__option">Cappuccino</option>
              <option value="-" selected class="buy-modal-list__option">none</option>
            </select>
          </li>
          <li class="buy-modal-list__item">
            <label for="shake" class="buy-modal-list__head">Milkshakes</label>
            <select id="shake" name="shake" class="buy-modal-list__details">
              <option value="S" class="buy-modal-list__option">Chokolate</option>
              <option value="C" class="buy-modal-list__option">Mint</option>
              <option value="V" class="buy-modal-list__option">Raspberry</option>
              <option value="L" class="buy-modal-list__option">Coconut</option>
              <option value="O" class="buy-modal-list__option">Strawberry</option>
              <option value="-" selected class="buy-modal-list__option">none</option>
            </select>
          </li>
        </ul>
        <label for="message" class="buy-form__message">Comment</label>
        <textarea name="message" id="message" cols="30" rows="10" class="buy-form__textarea"
          placeholder="Please, leave datails of you choice=)"></textarea>
        <button type="submit" class="buy-form__btn">buy</button>
      </form>
    </div>
  </div>
</header>

<!-- Mobile modal -->

<div class="backdrop-mob is-hidden" data-mob-modal>
  <div class="buy-mob-modal">
    <button class="buy-mob-modal__close-btn" data-modal-mob-close>
      <svg class="buy-mob-modal__close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="buy-form">
      <ul class="buy-form-list">
        <li class="buy-form-list__item">
          <label class="buy-form-list__label"
            >Name!<input type="text" class="buy-form-list__input"
          /></label>
        </li>
        <li class="buy-form-list__item">
          <label class="buy-form-list__label"
            >E-mail!<input type="email" class="buy-form-list__input"
          /></label>
        </li>
      </ul>
      <ul class="buy-modal-list">
        <li class="buy-modal-list__item">
          <label for="taste-mob" class="buy-modal-list__head">IceCream</label>
          <select id="taste-mob" name="taste-mob" class="buy-modal-list__details">
            <option value="S" class="buy-modal-list__option">Strawberry</option>
            <option value="C" class="buy-modal-list__option">Chokolate</option>
            <option value="V" class="buy-modal-list__option">Vanile</option>
            <option value="L" class="buy-modal-list__option">Lemon</option>
            <option value="O" class="buy-modal-list__option">Orange</option>
            <option value="-" selected class="buy-modal-list__option">none</option>
          </select>
        </li>
        <li class="buy-modal-list__item">
          <label for="type-mob" class="buy-modal-list__head">Coffe</label>
          <select id="type-mob" name="type-mob" class="buy-modal-list__details">
            <option value="l" class="buy-modal-list__option">Latte</option>
            <option value="a" class="buy-modal-list__option">Americano</option>
            <option value="e" class="buy-modal-list__option">Espresso</option>
            <option value="m" class="buy-modal-list__option">Matcha</option>
            <option value="c" class="buy-modal-list__option">Cappuccino</option>
            <option value="-" selected class="buy-modal-list__option">none</option>
          </select>
        </li>
        <li class="buy-modal-list__item">
          <label for="shake-mob" class="buy-modal-list__head">Milkshakes</label>
          <select id="shake-mob" name="shake-mob" class="buy-modal-list__details">
            <option value="S" class="buy-modal-list__option">Chokolate</option>
            <option value="C" class="buy-modal-list__option">Mint</option>
            <option value="V" class="buy-modal-list__option">Raspberry</option>
            <option value="L" class="buy-modal-list__option">Coconut</option>
            <option value="O" class="buy-modal-list__option">Strawberry</option>
            <option value="-" selected class="buy-modal-list__option">none</option>
          </select>
        </li>
      </ul>
      <label for="message-mob" class="buy-form__message">Comment</label>
      <textarea name="message-mob" id="message-mob" cols="30" rows="10" class="buy-form__textarea" placeholder="Please, leave datails of you choice=)"></textarea>
      <button type="submit" class="buy-form__btn">buy</button>
    </form>
  </div>
</div>

<script src="./js/modal-mob.js"></script>
<script src="./js/modal.js"></script>
<script src="./js/mobile-menu.js"></script>
