<section id="our_products" class="section section-product">
  <div class="container section-product__container">
    <p class="section-product__head-text">100&#37; natural</p>
    <h2 class="section-product__title">products</h2>
    <ul class="section-product__list">
      <li class="section-product__item section-product__item--pink">
        <div
          class="section-product__item-content-wrapper section-product__item-content-wrapper--pink"
        >
          <h3 class="section-product__subtitle">ice cream</h3>
          <div class="section-product__dots">
            <div class="section-product__dots-first"></div>
            <div class="section-product__dots-second"></div>
            <div class="section-product__dots-third"></div>
          </div>
          <p class="section-product__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="section-product__btn">
            <img
              srcset="
                ./images/desktop/arrow-min.png    1x,
                ./images/desktop/arrow-2x-min.png 2x,
                ./images/desktop/arrow-3x-min.png 3x
              "
              width="40"
              height="40"
              src="./images/desktop/arrow-min.png"
              alt="arrow"
              class="section-product__img"
            />
          </button>
           <div class="section-product__additional-body section-product__additional-body--pink">
            <p class="section-product__additional-subtext section-product__additional-subtext--pink">
              At vero eos et accusamus et iusto odio dignissimos ducimus, qui
              blanditiis praesentium atque corrupti. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </p>
        </div>
      </li>
      <li class="section-product__item section-product__item--peach">
        <div class="section-product__item-content-wrapper">
          <h3 class="section-product__subtitle">ice coffee</h3>
          <div class="section-product__dots">
            <div class="section-product__dots-first"></div>
            <div class="section-product__dots-second"></div>
            <div class="section-product__dots-third"></div>
          </div>
          <p class="section-product__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="section-product__btn">
            <img
              srcset="
                ./images/desktop/arrow-min.png    1x,
                ./images/desktop/arrow-2x-min.png 2x,
                ./images/desktop/arrow-3x-min.png 3x
              "
              width="40"
              height="40"
              src="./images/desktop/arrow-min.png"
              alt="arrow"
              class="section-product__img"
            />
          </button>
          <div class="section-product__additional-body section-product__additional-body--peach">
            <p class="section-product__additional-subtext section-product__additional-subtext--peach">
              At vero eos et accusamus et iusto odio dignissimos ducimus, qui
              blanditiis praesentium atque corrupti. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </li>
      <li class="section-product__item section-product__item--green">
        <div class="section-product__item-content-wrapper">
          <h3 class="section-product__subtitle">milkshakes</h3>
          <div class="section-product__dots">
            <div class="section-product__dots-first"></div>
            <div class="section-product__dots-second"></div>
            <div class="section-product__dots-third"></div>
          </div>
          <p class="section-product__subtext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button type="button" class="section-product__btn">
            <img
              srcset="
                ./images/desktop/arrow-min.png    1x,
                ./images/desktop/arrow-2x-min.png 2x,
                ./images/desktop/arrow-3x-min.png 3x
              "
              width="40"
              height="40"
              src="./images/desktop/arrow-min.png"
              alt="arrow"
              class="section-product__img"
            />
          </button>
           <div class="section-product__additional-body section-product__additional-body--green">
            <p class="section-product__additional-subtext section-product__additional-subtext--green">
              At vero eos et accusamus et iusto odio dignissimos ducimus, qui
              blanditiis praesentium atque corrupti. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit.
            </p>
        </div>
      </li>
    </ul>
  </div>
</section>
