.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.reviews {
  padding-top: 80px;
  padding-bottom: 32px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 16px;
  }
  &__foto {
    width: 85px;
    height: 85px;
    margin: 0px auto;
  }
}

.reviews-area {
  position: relative;
  width: 100%;
  height: 308px;
  background: hsla(0, 0%, 98%);
  transition-property: transform;
  transition-duration: 3000ms;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    margin: 0 auto;
    background: hsla(0, 0%, 98%, 0.404);
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
    height: 138px;
    background: hsla(0, 0%, 98%);
  }
}

.reviews-area:hover .reviews-area__lines::before {
  transform: scale(0.4) rotateY(180deg);
}

.reviews-area__text {
  position: relative;
  width: 157px;
  margin-left: calc(50% + 7px);
  transform: translate(-50%);
  padding-top: 43px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  @media screen and (min-width: 768px) {
    width: 515px;
    padding-top: 37px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    width: 750px;
    padding-top: 47px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.reviews-area__lines {
  width: 180px;
  height: 217px;
  background-image: repeating-linear-gradient(
    0deg,
    #0000 1.5px 31px,
    #e1e1e1 1px 32px
  );

  position: absolute;
  top: 71px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  @media screen and (min-width: 768px) {
    width: 608px;
    height: 88px;
    top: 40px;
  }
  @media screen and (min-width: 1280px) {
    width: 822px;
    height: 45px;
    top: 65px;
  }
}

.reviews-area__lines::before {
  content: '';
  background-size: contain;
  top: -42px;
  left: 7px;
  width: 54px;
  height: 40px;
  position: absolute;
  background-image: url('/src/images/mobile/customer_reviews/quotes-m1x.png');
  transition-property: transform;
  transition-duration: 500ms;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/mobile/customer_reviews/quotes_m2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/tablet/quotes-t1x.png');
    width: 60px;
    top: -20px;
    left: 8px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/tablet/quotes-t2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/mobile/customer_reviews/quotes-m1x.png');
    width: 54px;
    top: -32px;
    left: 6px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/mobile/customer_reviews/quotes_m2x.png');
    }
  }
}

.reviews-name {
  padding-top: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 4px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 16px;
  }
}

.reviews-name__point {
  position: relative;
  &-one::before,
  &-two::before,
  &-three::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #c7133e;
    background-repeat: repeat-x;
    top: 0px;
    left: calc(50% - 14px);
  }
  &-two::before {
    left: 50%;
  }
  &-three::before {
    left: calc(50% + 14px);
  }
}

.reviews-name__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

// ______________________________ Slideshow container _____________________________
.slideshow-container {
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 100px 20px 100px 0px;
  color: rgba(212, 20, 67, 0.1);
  text-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  user-select: none;
  transition-property: transform;
  transition-duration: 100ms;
    @media screen and (max-width: 767px) {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 10px 0 0 10px;
  padding: 100px 0px 100px 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: transparent;
    transform: scale(1.8);
        @media screen and (max-width: 767px) {
  color: rgba(212, 20, 67, 0.1);
  text-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 7px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: inline-block;
  transition-property: transform;
  transition-duration: 100ms;
}

/* Add a background color to the active dot/circle */
.active,
.dot:active {
  height: 12px;
  width: 12px;
  border-radius: 0%;
  background-image: url('/src/images/mobile/customer_reviews/House-icon-1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline-block;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/mobile/customer_reviews/House-icon-2x.png');
  }
  @media screen and (min-width: 768px) {
    width: 13px;
  }
  @media screen and (min-width: 1280px) {
    height: 12px;
  }
}

.dot:hover {
  transform: scale(1.3);
}
