.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.visibility-hidden {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  padding-bottom: 0;
}

.reviews {
  padding-top: 80px;
  padding-bottom: 32px;
}

.reviews-foto {
  width: 85px;
  height: 85px;
  margin: 0px auto;
}

.reviews-area {
  position: relative;
  width: 100%;
  height: 308px;
  background: #fafafa;
}

.reviews-text {
  position: relative;
  width: 157px;
  margin-left: calc(50% + 7px);
  transform: translate(-50%);
  padding-top: 43px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
}

.reviews-lines {
  width: 180px;
  height: 217px;
  background-image: repeating-linear-gradient(
    0deg,
    #0000 1.5px 31px,
    #e1e1e1 1px 32px
  );
  position: absolute;
  top: 71px;
  left: 50%;
  transform: translate(-50%);
  display: block;
}

.reviews-lines::before {
  content: '❜❜';
  font-size: 100px;
  letter-spacing: -3px;
  color: #e1e1e1;
  position: absolute;
  top: -65px;
  left: 8px;
}

// .reviews-lines::before {
//   content: '';
//   background-size: contain;
//   left: 0px;
//   top: 50px;
//   width: 54px;
//   height: 40px;
//   position: absolute;
//   background-image: url('./src/images/mobile/customer_reviews/quotes-m1x.png');
// }

// .reviews-lines::before {
//   content: url('./src/images/mobile/customer_reviews/quotes-m1x.png');
//   background-size: contain;
//   left: 0px;
//   top: 50px;
//   width: 54px;
//   height: 40px;
//   position: absolute;
// }

.review--padding {
  padding-top: 16px;
}
.reviews-point {
  position: relative;
}

.review-name {
  font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.86;
text-align: center;
color: #000000;
padding-top: 16px;
}

.reviews-point__one::before {
  content: '';
  position: absolute;  
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color:  #C7133E;
  background-repeat: repeat-x;
  top: 0px;
  left: calc(50% - 14px);
}

.reviews-point__two::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color:  #C7133E;
  top: 0px;
  left: 50%;
}

.reviews-point__three::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color:  #C7133E;
  top: 0px;
  left: calc(50% + 14px);
}

