.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 1280px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1600px;
  }
}

.gallery__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 430px;

  background-image: linear-gradient(to bottom, #fff5f6 45%, #fff 45%);

  @media screen and (min-width: 320px) {
    min-width: 320px;
  }
  @media screen and (max-width: 768px) {
    max-width: 768px;
  }
}

.gallery__img {
  padding-bottom: 2px;
}
.gallery__img-salet {
  padding-left: 4px;
}
.picture {
  position: relative;
  overflow: none;
}

.picture:hover,
.picture:focus {
  z-index: 1;
}

.photo {
  position: relative;
  display: inline-block;
  transition-property: transform, scale;
  transition-duration: 350ms;
}

.photo:hover,
.photo:focus {
  transform: scale(1.25);
}

.photo--left {
  transition-property: transform, scale;
  transition-duration: 350ms;
}

.photo--left:hover,
.photo--left:focus {
  transform: translate(5px) scale(1.25);
  @media screen and (min-width: 768px) {
    transform: translate(20px) scale(1.25);
  }
  @media screen and (min-width: 1280px) {
    transform: translate(70px) scale(1.25);
  }
}

.photo--right {
  transition-property: transform, scale;
  transition-duration: 350ms;
}

.photo--right:hover,
.photo--right:focus {
  transform: translate(-5px) scale(1.25);
  @media screen and (min-width: 768px) {
    transform: translate(-20px) scale(1.25);
  }
  @media screen and (min-width: 1280px) {
    transform: translate(-70px) scale(1.25);
  }
}

.photo-girl {
  width: 47px;
  @media screen and (min-width: 768px) {
    width: 100px;
  }
  @media screen and (min-width: 1280px) {
    width: 250px;
  }
}

.picture + .picture {
  margin-left: 5px;
}

.picture:nth-child(4) {
  z-index: 9;
}

.picture:nth-child(5) {
  max-width: 50%;
}

.gallery__block {
  width: auto;
}

.bigger-photo {
  width: 280px;
  height: 280px;
  margin-right: 5px;
}
.gallery__img--big-photo,
.gallery__img--girl {
  padding-left: 5px;
}
