.first-page {
  overflow: hidden;
  background-color: $main-bgc;
  padding-top: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 37px;
  }
}

// header

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-menu {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.header-menu__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header-menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: $main-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header__btn {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    border-radius: 22px;
    background-color: $main-color;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $accent-color;
    padding: 17px 37px;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus {
      background-color: $hover-btn-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    border-radius: 22px;
    background-color: $main-color;
    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $accent-color;
    padding: 17px 37px;
    align-items: center;
  }
}

.Header_btn__icon {
  width: 4px;
  height: 8px;
  margin-left: 12px;
}
